/* Body/General */
body {
    background-image: url(#);
}

/* Navigator */
section {
    margin: 10px;
}
.SectNav {
    padding-top: 0px;
    width: 100%;
}
nav {
    display: inline-flex;
    align-items: center;
    position: fixed;
    width: 100%;
}
.Navleft {
    display: inline-block;
    width: auto;
}
.NavSpacer {
    width: 30%;
}
/* headers of navigator */
.nav {
    display: inline-block;
    width: fit-content;
}
h1  {
    color: black;
}
