/* Overall page styling for good measure */
body {
    font-family: Arial, sans-serif;
    background-image: url(./assets/pexels-eberhard-grossgasteiger-844297.jpg);
}

/* Styling for the navigation section */
.SectNav {
    margin-top: 0%;
    width: 100%;
}

.Navergator {
    width: 100%;
    box-shadow: 0 2px 10px rgba(31, 30, 30, 0.2);
    border-radius: 100px 20px 100px 20px;
    position: fixed;
}
h1 {
    width: 100%;
    font-size: 50px;
    display: inline-flex;
}
.NavLeft {
    color: #ffffff;
    width: 49%;
}
.NavRight {
    display: inline-block;
    width: 49%;
}

.NavRight h4 {
    margin: 0 15px; 
    display: inline-block;
}

.NavRight .nav a {
    text-decoration: none;
    color: purple; 
    font-size: 20px; 
}
